.w-o {
    width: $unit-o;
}
.w-100 {
    width: 100%;
}
.w-auto {
    width: auto;
}

.h-1 {
    height: $unit-1;
}
.h-2 {
    height: $unit-2;
}
.h-3 {
    height: $unit-3;
}
.h-4 {
    height: $unit-4;
}
.h-5 {
    height: $unit-5;
}
.h-6 {
    height: $unit-6;
}
.h-7 {
    height: $unit-7;
}
.h-8 {
    height: $unit-8;
}
.h-9 {
    height: $unit-9;
}
.h-10 {
    height: $unit-10;
}
.h-12 {
    height: $unit-12;
}
.h-16 {
    height: $unit-16;
}
